<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Ruhamaa Tracker</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ruhamaa_tracker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<!-- Location & GPS Tracking Perms -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires access to high-precision GPS coordinates to verify geofence boundaries for officer check-in/check-out logs.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app tracks and broadcasts periodic field officer locations to sync team coordinates onto maps for supervisory visibility.</string>
	
	<!-- Camera & Photos Perms -->
	<key>NSCameraUsageDescription</key>
	<string>This app requires camera permission to capture biometric verification selfies and record watermarked field proof photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires library access to upload supporting leave application credentials and task files.</string>
</dict>
</plist>
